

<div class="footer_content">
    <div class="footer_regist_contain">
        <h3>Ready to get started?</h3>
        <button class="start_btn">Get started</button>
    </div>
    <hr>
    <div>
        <div class="footer_content_contain">
            <div>
                <h3>Subscribe to our Website</h3>
                <input placeholder="Email address" class="email_input"/>
                <button class="email_sub_btn">></button>

            </div>
            <div class="footer_links_contain">
                <div class="links_block">
                    <p class="main_link">Services</p>
                    <p>Email Marketing</p>
                    <p>Campaigns</p>
                    <p>Branding</p>
                    <p>Offline</p>
                </div>
                <div class="links_block">
                    <p class="main_link">About</p>
                    <p>Our Story</p>
                    <p>Benefits</p>
                    <p>Team</p>
                    <p>Careers</p>
                
                </div>
                <div class="links_block">
                    <p class="main_link">Help</p>
                    <p>FAQs</p>
                    <p>Contact Us</p>
                
                </div>
            </div>
        </div>
    </div>
    <div class="footer_end_contant">
        <div class="footer_end_doks_links">
            <p>Terms & Conditions</p>
            <p>Privacy Policy</p>
        </div>
        <div class="socials">
            <img src="../../../assets/images/facebook.png" class="social_img"/>
            <img src="../../../assets/images/twitter.png" class="social_img"/>
            <img src="../../../assets/images/instagram.png" class="social_img"/>    
        </div>
    </div>
</div>

<style>
    .main_link{
        color: #10B981;
    }

    .footer_links_contain{
        display: flex;
        width: 50%;
        justify-content: space-evenly;
        gap: 10px;
    }

    .footer_content_contain{
        display: flex;
        justify-content: center;

    }

    .footer_regist_contain{
        display: flex;
        justify-content: end;
        gap: 15px;
        margin: 10px;
        margin-right: 60px;
        h3{
            font-size: 22px;
        }

    }

    .start_btn{
        width: 175px;
        height: 50px;
        border: 1px solid #10B981;
        background-color: #10B981;
        color: #FFFFFF;
        margin: 10px;

    }

    .footer_end_contant{
        display: flex;
        justify-content: space-around;
        margin: 20px;
    }
    .footer_end_doks_links{
        display: flex;
        gap: 10px;
    }
    .socials img{
        padding: 20px;
    }

    .email_sub_btn{
        width: 50px;
        height: 50px;
        background-color: #10B981;
        color: #FFFFFF;
        border: 1px solid  #10B981;
        border-top-left-radius: 8px ;
        border-top-right-radius: 8px ;

    }
    .email_input{
        width: 259px;
        height: 50px;
        border-radius: 10px;
        border: none;
        box-shadow: 0px 15px 50px #2E839E12;

    }
    .footer_content{
        width: 1068px;
        margin-left: 25%;
    }
</style>