

<div>
    <div class="info_header">
        <img width="150" height="150" alt="Image example" src="assets/images/Shopper.png"/>
        <img src="" class="logo"/>
        <input class="search"/>
        <button class="cart_btn">0 Items Added</button>
        <button class="login_btn">Login or Sign Up</button>
    </div>
    <div class="route_menu">
        <h4>Features </h4>
        <h4>Products</h4>
        <h4>Blog</h4>
        <h4>About</h4>

    </div>
</div>

<style>
    .info_header{
        height: 162px;
        
        display: flex;
        justify-content: space-around;
        padding: 10px;
    }

    .cart_btn{
        width: 229px;
        height: 60px;
        border: 1px solid #10B981;
        border-radius: 30px;
        background-color: #FFFFFF;
        color: black;
    }

    .login_btn{
        width: 229px;
        height: 60px;
        border: 1px solid #10B981;
        border-radius: 30px;
        background-color: #10B981;
        color: #FFFFFF;

    }

    .route_menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #10B981;
        color: #FFFFFF;
        height: 81px;
    }
</style>