

<div class="main_content">

    <div>
        <p class="background_text"> Apple wireless Airpod</p>
        <img/>
        <img/>
        <img/>
        <h5> Price: $45.99</h5>

    </div>

    <div>
        <h2>Our Featured Products</h2>
        <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a product</p>
        <button class="add_to_cart_btn">Add to cart</button>
        <button class="view_btn"> View more</button>
    </div>
</div>

<style>
    .add_to_cart_btn{
        width: 263px;
        height: 70px;
        border: 1px solid #10B981;
        border-radius: 10px;
        background-color: #10B981;
        color: #FFFFFF;

    }

    .view_btn{
        width: 263px;
        height: 70px;
        background-color: #845EC2;
        border: none;
        color: #FFFFFF;
    }

    .main_content{
        display: flex;
        padding: 20px;
        background-color: #845EC2;
        color: #FFFFFF;
    }
</style>