

<div class="main_content">

    <div class="content_header">
        <h1>Top Sellers</h1>
        <div>
            <button class="top_btn">Top Picks</button>
            <button class="watches_btn">Watchers</button>
            <button class="watches_btn">Watchers</button>
        </div>

    </div>

    <div class="top_sellers_product_list">
        <ol class="top_sellers_menu">
            <li class="product_card_contain">
                <div class="product_card" style="--box-color: #ECFEF4;">
                    <h5 class="sale_logo" ></h5>
                    <img src="../../../assets/images/longEarfouns.png" class="product_img"/>
                    <div class="product_card_text">
                        <h4>Boat Rockerz 333</h4>
                        <div class="product_card_rating">
                            <img src="../../../assets/images/ratingStar.png" class="product_img"/>
                            <p>75 Reviews</p>
                        </div>
                        <h4>$20</h4>
                    </div>

                </div>
                <button class="add_to_cart_btn">Add to cart</button>
            </li>
            <li class="product_card_contain">
                <div class="product_card" style="--box-color: #C9F2FF;">
                    <img src="../../../assets/images/blackEarfouns.png" class="product_img"/>
                    <div class="product_card_text">
                        <h4>Boat kerz 234</h4>
                        <div class="product_card_rating">
                            <img src="../../../assets/images/ratingStar.png" class="product_img"/>
                            <p>75 Reviews</p>
                        </div>
                        <h4>$20</h4>
                    </div>

                </div>
                <button class="add_to_cart_btn">Add to cart</button>

            </li>            
            <li class="product_card_contain">
                <div class="product_card" style="--box-color: #E5D5FF;">
                    <h5 class="sale_logo"></h5>
                    <img src="../../../assets/images/pinkEarfouuns.png" class="product_img"/>
                    <div class="product_card_text">
                        <h4>Boat Rockerz 323</h4>
                        <div class="product_card_rating">
                            <img src="../../../assets/images/ratingStar.png" class="product_img"/>
                            <p>75 Reviews</p>
                        </div>
                        <h4>$20</h4>
                    </div>
                </div>
                
                <button class="add_to_cart_btn">Add to cart</button>

            </li>
        </ol>
        <button class="next_product_btn"> > </button>

    </div>
</div>

<style>
    .top_btn{
        width: 177px;
        height: 91px;
        border: 1px solid #10B981;
        border-radius: 50%;
        background-color: #10B981;
        color: #FFFFFF;
        font-size: 26px;

    }

    .watches_btn{
        width: 177px;
        height: 91px;
        border: none;
        background-color: #FFFFFF;
        font-size: 26px;

    }

    .add_to_cart_btn{
        width: 361px;
        height: 70px;
        border: 1px solid #10B981;
        border-radius: 10px;
        background-color: #10B981;
        color: #FFFFFF;
        margin: 10px;

    }

    .next_product_btn{
        width: 64px;
        height: 64px;
        color: #10B981;
        border: none;
        background-color: #FFFFFF;
        font-size: 60px;
    }

    .top_sellers_menu{
        display: flex;
        margin: 20px;
        padding: 20px;
        list-style-type: none;

    }

    .product_card{
        display: flex;
        flex-direction: column;
        justify-content:end;
        align-items: center;
        width: 361px;
        height: 438px;
        border-radius: 15px;
        background-color: var(--box-color);
        color: black;
        margin: 15px;
    }

    .product_card_text{
        background-color: #FFFFFF;
        width: 319px;
        height: 155px;
        margin: 10px;
        border-radius: 15px;
        padding: 5px;
    }

    .product_card_contain{
        display: flex;
        flex-direction: column;
        justify-content:end;
        align-items: center;

    }

    .product_card_rating{
        display: flex;
        align-items: center;

    }

    .top_sellers_product_list{
        display: flex;
        align-items: center;
        margin: 15px;
    }

    .content_header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .main_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
</style>