

<div class="main_content">

    <div>
        <h1>Top Sellers</h1>
        <button class="top_btn">Top Picks</button>
        <button class="watches_btn">Watchers</button>

    </div>

    <div class="top_sellers_product_list">
        <ol class="top_sellers_menu">
            <li class="product_card_1">
                <img/>
                <h5 class="sale_logo"></h5>
                <h4>Boat Rockerz 333</h4>
                <img src="../../../assets/images/blackEarfouns.png"/>
                <!-- <img src="assets/images/longEarfouns.png"/> -->
                <p>75 Reviews</p>
                <h4>$20</h4>
                <button class="add_to_cart_btn">Add to cart</button>
            </li>
            <li class="product_card_1">
                <img/>
                <h4>Boat kerz 234</h4>
                <img/>
                <p>75 Reviews</p>
                <h4>$40</h4>
                <button class="add_to_cart_btn">Add to cart</button>

            </li>            
            <li class="product_card_1">
                <img/>
                <h5 class="sale_logo"></h5>
                <h4>Boat Rockerz 323</h4>
                <img/>
                <p>75 Reviews</p>
                <h4>$20</h4>
                <button class="add_to_cart_btn">Add to cart</button>

            </li>
        </ol>
        <button class="next_product_btn"> > </button>

    </div>
</div>

<style>
    .top_btn{
        width: 177px;
        height: 91px;
        border: 1px solid #10B981;
        border-radius: 50%;
        background-color: #10B981;
        color: #FFFFFF;
        font-size: 26px;

    }

    .watches_btn{
        width: 177px;
        height: 91px;
        border: none;
        background-color: #FFFFFF;
        font-size: 26px;

    }

    .add_to_cart_btn{
        width: 263px;
        height: 70px;
        border: 1px solid #10B981;
        border-radius: 10px;
        background-color: #10B981;
        color: #FFFFFF;

    }

    .next_product_btn{
        width: 64px;
        height: 64px;
        color: #10B981;
        border: none;
        background-color: #FFFFFF;
        font-size: 60px;
    }

    .top_sellers_menu{
        display: flex;
        /* justify-content: space-around; */
        margin: 20px;
        padding: 20px;
        list-style-type: none;

    }

    .product_card_1{
        width: 361px;
        height: 540px;
        margin: 10px;
        padding: 10px;
        border-radius: 18px;
        background-color: #ECFEF4;
        color: black;
    }

    .top_sellers_product_list{
        display: flex;
        align-items: center;
        margin: 15px;
    }

    .main_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
</style>