

<div class="main_content">

    <div>
        <h1>Discover Our Latest  Products</h1>
        <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a product</p>
        <button class="buy_btn">Buy Now</button>
        <img/>

    </div>

    <div>
        <img/>
        <h2>Red Beats MI9c2zm/a</h2>
        <p>Play Video</p>
    </div>
</div>

<style>
    .buy_btn{
        width: 263px;
        height: 70px;
        border: 1px solid #10B981;
        border-radius: 10px;
        background-color: #10B981;
        color: #FFFFFF;

    }

    .main_content{
        display: flex;
        padding: 10px;
    }
</style>